{% extends 'default_frame.twig' %}

{% block main %}
    <div class="ec-registerRole">
        <div class="ec-pageHeader">
            <h1>{{ 'よくあるご質問'|trans }}</h1>
        </div>
    </div>
{% endblock %}